aniso8601==8.0.0
attrs==19.3.0
beautifulsoup4==4.9.1
cachelib==0.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.1.2
flask-restx==0.2.0
Flask-Session==0.3.2
htmldate==0.6.3
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jusText==2.2.0
lxml==4.5.2
MarkupSafe==1.1.1
mongoengine==0.20.0
newspaper3k==0.2.8
nltk==3.5
Pillow==7.2.0
pymongo==3.10.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readability-lxml==0.8.1
redis==3.5.3
regex==2020.6.8
requests==2.24.0
requests-file==1.5.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tinysegmenter==0.3
tldextract==2.2.2
tqdm==4.47.0
trafilatura==0.5.0
urllib3==1.25.9
Werkzeug==1.0.1
zipp==3.1.0
